/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* css variable */
:root{
    --headerHeight: 3rem;

    /* =====color===== */

    /* change favourite color */
    --hueColor: 14;

    /* HSL color */

    --firstColor: hsl(var(--hueColor), 69%, 61%);
    --firstColorSecond: hsl(var(--hueColor), 69%, 61%);
    --firstColorAlt: hsl(var(--hueColor), 57%, 53%);
    --firstColorLighter: hsl(var(--hueColor), 92%, 85%);
    --titleColor: hsl(var(--hueColor), 8%, 15%);
    --textColor: hsl(var(--hueColor), 8%, 45%);
    --textColorLight: hsl(var(--hueColor), 8%, 65%);
    --inputColor: hsl(var(--hueColor), 70%, 96%);
    --bodyColor: hsl(var(--hueColor), 60%, 99%);
    --containerColor: #fff;

    /* font and typography */

    --bodyFont: 'Poppins', sans-serif;

    --bigFontSize: 2rem;
    --h1FontSize: 1.5rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1.125rem;
    --normalFontSize: .938rem;
    --smallFontSize: .812rem;
    --smallerFontSize: .75rem;

    /* font weight */
    --fontMedium: 500;
    --fontSemiBold: 600;
    --fontBold: 700;

    /* margin */

    --margin025: .25rem;
    --margin05: .5rem;
    --margin075: .75rem;
    --margin1: 1rem;
    --margin1half: 1.5rem;
    --margin2: 2rem;
    --margin2half: 2.5rem;
    --margin3: 3rem;

    /* z-index */
    --zTooltip: 10;
    --zFixed: 100;
    --zModel: 1000;
}

/* base */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--headerHeight) 0;
    font-family: var(--bodyFont);
    font-size: var(--normalFontSize);
    background: var(--bodyColor);
    color: var(--textColor);
}

h1,h2,h3,h4{
    color: var(--titleColor);
    font-weight: var(--fontSemiBold);
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* reusable css class */

.section{
    padding: 2rem 0 3.5rem;
}
.sectionTitle{
    font-size: var(--h1FontSize);
    text-align: center;
}
.sectionSubtitle{
    font-size: var(--smallFontSize);
    display: block;
    margin-bottom: var(--margin3);
    text-align: center;
}
/* Button */

.button{
    display: inline-block;
    color: #fff;
    background-color: var(--firstColor);
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--fontMedium);
    transition: .3s;
}
.button:hover{
    background-color: var(--firstColorAlt);
}
.buttonIcon{
    font-size: 1.25rem;
    margin-left: var(--margin05);
    transition: .3s;
}
.buttonFlex{
    display: inline-flex;
    align-items: center;
}
.buttonSmall{
    padding: .75rem 1rem;
}
.buttonLink{
    padding: 0;
    background-color: transparent;
    color: var(--firstColor);
}
.buttonLink:hover{
    background-color: transparent;
    color: var(--firstColorAlt);
}

/* layout */
.container{
    max-width: 768px;
    margin-left: var(--margin1half);
    margin-right: var(--margin1half);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--zFixed);
    background: var(--bodyColor);
}

/* nav */

.nav{
    max-width: 968px;
    height: var(--headerHeight);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navLogo,
.navToggle{
    color: var(--titleColor);
    font-weight: var(--fontMedium);
    transition: .3s;
}
.navLogo:hover{
    color: var(--firstColor);
}
.navToggle{
    font-size: 1.1rem;
    cursor: pointer;
}
.navToggle:hover{
    color: var(--firstColor);
}
.navList{
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.navLink{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--smallFontSize);
    color: var(--titleColor);
    font-weight: var(--fontMedium);
}
.navLink:hover{
    color: var(--firstColor);
}
.navIcon{
    font-size: 1.2rem;
}
.navClose{
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--firstColor);
}
.navClose:hover{
    color: var(--firstColorAlt);
}

/* main part */

/* home */
.homeContainer{
    gap: 1rem;
}
.homeContent{
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}
.homeSocial{
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}
.homeSocialIcon{
    font-size: 1.25rem;
    color: var(--firstColor);
    transition: .3s;
}
.homeSocialIcon:hover{
    color: var(--firstColorAlt);
}
.homeBlob{
    width: 200px;
    fill: var(--firstColor);
}
.homeBlobImg{
    width: 200px;
}
.homeData{
    grid-column: 1/3;
}
.homeTitle{
    font-size: var(--bigFontSize);
}
.homeSubtitle{
    font-size: var(--h3FontSize);
    color: var(--textColor);
    font-weight: var(--fontMedium);
    margin-bottom: var(--margin075);
}
.homeDescription{
    margin-bottom: var(--margin2);
}
.homeScroll{
    /* display: none; */
}
.homeScrollBtn{
    color: var(--firstColor);
    transition: .3s;
}
.homeScrollBtn:hover{
    transform: translateY(.25rem);
}
.homeScrollIcon{
    font-size: 2rem;
}
.homeScrollName{
    font-size: var(--smallFontSize);
    color: var(--titleColor);
    font-weight: var(--fontMedium);
    margin-right: var(--margin025);
}
.homeScrollArrow{
    font-size: 1.25rem;
}



/* about */

.aboutImg{
    width: 200px;
    border-radius: .5rem;
    justify-self: center;
    align-self: center;
}
.aboutDescription{
    text-align: center;
    margin-bottom: var(--margin2half);
}
.aboutInfo{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--margin2half);
}
.aboutInfoTitle{
    font-size: var(--h2FontSize);
    font-weight: var(--fontSemiBold);
    color: var(--titleColor);
}
.aboutInfoName{
    font-size: var(--smallFontSize);
}
.aboutInfoTitle,
.aboutInfoName{
    display: block;
    text-align: center;
}
.aboutButton{
    display: flex;
    justify-content: center;
}

/* SKill */

.skillContainer{
    row-gap: 0;
}
.skillHeader{
    display: flex;
    align-items: center;
    margin-bottom: var(--margin2half);
    cursor: pointer;
    padding: 5px;
    transition: .4s;
}
.skillIcon,
.skillArrow{
    font-size: 2rem;
    color: var(--firstColor);
}
.skillIcon{
    margin-right: var(--margin075);
}
.skillTitle{
    font-size: var(--h3FontSize);
}
.skillSubtitle{
    font-size: var(--smallFontSize);
    color: var(--textColorLight);
}
.skillArrow{
    margin-left: auto;
    transition: .4s;
}
.skillTitles{
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--margin05);
}
.skillName{
    font-size: var(--normalFontSize);
    font-weight: var(--fontMedium);
}
.skillBar,
.skillPercent{
    height: 5px;
    border-radius: .25rem;
}
.skillBar{
    background-color: var(--firstColorLighter);
}
.skillPercent{
    display: block;
    background-color: var(--firstColor);
}
.skillAdSetup{
    width: 90%;
}
.skillAnalytics{
    width: 70%;
}
.skillTag{
    width: 85%;
}
.skillMarchent{
    width: 65%;
}
.skillFbAdSetup{
    width: 95%;
}
.skillFbMarketplace{
    width: 75%;
}
.skillFbManagement{
    width: 90%;
}
.skillWPC{
    width: 80%;
}
.skillConvertWP{
    width: 75%;
}
.skillHTML{
    width: 95%;
}
.skillCSS{
    width: 85%;
}
.skillJS{
    width: 65%;
}
.skillReact{
    width: 60%;
}
.skillClose .skillList{
    height: 0;
    overflow: hidden;
}
.skillOpen .skillList{
    height: max-content;
    margin-bottom: var(--margin2half);
}
.skillOpen .skillArrow{
    transform: rotate(-180deg);
}
.skillContent{
    border-radius: 10px;
    margin-bottom: var(--margin025);
}
.skillHeader:hover{
    background-color: rgb(250, 255, 206)
}

/* Qualification */

.qualificationTabs{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: var(--margin2);
}
.qualificationBtn{
    font-size: var(--h3FontSize);
    font-weight: var(--fontMedium);
    cursor: pointer;
}
.qualificationBtn:hover{
    color: var(--firstColor);
}
.qualificationIcon{
    font-size: 1.8rem;
    margin-right: var(--margin025);
}
.qualificationData{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}
.qualificationTitle{
    font-size: var(--normalFontSize);
    font-weight: var(--fontMedium);
}
.qualificationSubtitle{
    display: inline-block;
    font-size: var(--smallFontSize);
    margin-bottom: var(--margin075);
}
.qualificationCalender{
    font-size: var(--smallerFontSize);
    color: var(--textColorLight);
}
.qualificationRounder{
    display: inline-block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: var(--firstColor);
}
.qualificationLine{
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--firstColor);
    transform: translate(6px, -7px);
}
.qualification [data-content]{
    display: none;
}
.qualificationActive[data-content]{
    display: block;
}


/* service */
.serviceContainer{
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
}
.serviceContent{
    position: relative;
    background-color: var(--containerColor);
    padding: 3.25rem .5rem 1.25rem 1.5rem;
    border-radius: .25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .15);
    transition: .3s;
}
.serviceContent:hover{
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.15);
}
.serviceIcon{
    display: block;
    font-size: 1.5rem;
    color: var(--firstColor);
    margin-bottom: var(--margin1);
}
.serviceTitle{
    font-size: var(--h3FontSize);
    font-weight: var(--fontMedium);
    margin-bottom: var(--margin1);
}
.serviceButton{
    cursor: pointer;
    font-size: var(--smallFontSize);
}
.serviceButtonIcon{
    transition: .3s;
}
.serviceButton:hover .serviceButtonIcon{
    transform: translateX(.25rem);
}
.serviceModal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: var(--zModel);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.serviceModalContent{
    position: relative;
    background-color: var(--containerColor);
    padding: 1.5rem;
    border-radius: .5rem;
}
.serviceModalServices{
    row-gap: 1rem;
}
.serviceModalList{
    display: flex;
}
.serviceModalTitle{
    font-size: var(--h3FontSize);
    font-weight: var(--fontMedium);
    margin-bottom: var(--margin1half);
}
.serviceModalClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--firstColor);
    cursor: pointer;
}
.serviceModalIcon{
    color: var(--firstColor);
    margin-right: var(--margin05);
}
.activeModal{
    opacity: 1;
    visibility: visible;
}
/* show menu */
.showMenu{
    bottom: 0 !important;
}


/* media query */

@media screen and (min-width: 968px) {
    :root{
        --bigFontSize: 3rem;
        --h1FontSize: 2.25rem;
        --h2FontSize: 1.5rem;
        --h3FontSize: 1.25rem;
        --normalFontSize: 1rem;
        --smallFontSize: .875rem;
        --smallerFontSize: .813rem;
    }
}

@media screen and (max-width: 767px) {
    .navMenu{
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background: var(--bodyColor);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .15); 
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }
}
